body{
	background-image: url("../Img/Juice.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#container{
	width: 300px;
	margin: 0 auto;
	background-color: rgba(106, 226, 20, 0.5);
	color: orange;
	padding: 0 100px 100px;
	border-radius: 50px;
}

p{
	text-align: center;
	font-family: 'Courgette', cursive;
}

h1{
	text-align: center;
}

button{
	margin-left: 90px;
	padding: 20px;
	background-color: orange;
	color: green;
	border-radius: 10px;
}